@import './projects.css';
@import './nav.css';
@import './about.css';
@import './contact.css';

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

.App {
  min-height: 100vh; /* Ensure it covers the full viewport height */
  width: 100%;
  overflow-x: hidden;
}

hr{
  border: 0;
  height: 2px;
  background-color: black;  
}

.icon {
  height: 50px;
  width: auto;
  background-color: rgba(255, 255, 255, 0.8); 
  margin: 5px;
}
.icon:hover {
  transform: scale(1.1) ease-in-out 1s;
}

.git {
  border-radius: 90px;
}
.linkdin {
  border-radius: 14px;
  box-shadow: 1px 3px 3px #10002b93;
}

.iconContainer{
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

footer{
  width: 100%;
  background-color: #E0AAFF;
  padding: 10px;
}