/* Smaller screen */
@media screen and (max-width: 900px) {
  p {
    font-size: 24px;
  }
  .App {
    height: 100%;
    background-size: cover;
    background-position: top;
  }

  .navContainer,
  .mainNav {
    display: flex;
    flex-direction: column;
  }

  .navButton {
    font-size: 24px;
    margin: 10px 0;
  }

  .showcaseContainer {
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 5% 0 5%;
  }

  .showcaseItem {
    width: 80%;
    height: auto;
  }

  .aboutContainer {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
  }
}
