/* Smaller screen */
@media screen and (max-width: 900px) {
  p {
    font-size: 24px;
  }
  .App {
    height: 100%;
    background-size: cover;
    background-position: top;
  }

  .navContainer,
  .mainNav {
    display: flex;
    flex-direction: column;
  }

  .navButton {
    font-size: 24px;
    margin: 10px 0;
  }

  .showcaseContainer {
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 5% 0 5%;
  }

  .showcaseItem {
    width: 100%;
    height: auto;
    
  }
  .showcaseItem:active {
    flex: 3 1; /* Expands the hovered item */
  }

  .aboutContainer {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
  }
  .skills {
    display: inline; /* Set skills container to inline */
  }

  .skill {
    display: inline; /* Display each skill inline */
    margin-right: 5px; 
  }

  ul {
    padding: 0;
    display: inline; /* Makes sure the ul doesn't stack */
  }

  li {
    display: inline; /* Make each skill item inline */
    margin-right: 5px;
  }
}
