/* Smaller screen */
@media screen and (max-width: 900px) {
  p {
    font-size: 24px;
  }
  .App {
    min-height: 100vh;
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed; /* Keeps the image fixed while scrolling */
  }

  .navContainer,
  .mainNav {
    display: flex;
    flex-direction: column;
  }

  .navButton {
    font-size: 24px;
    margin: 10px 0;
  }

  .showcaseContainer {
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 5% 0 5%;
    display: block;
  }

  .showcaseItem {
    width: 100%;
    height: 200px; /* Set initial height for mobile view */
  }

  /* Specific height expansion for mobile view */
  .showcaseItem.expanded {
    height: 600px; /* Expanded height for mobile */
    padding: 5px;
  }

  .aboutContainer {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
  }
  .skills {
    display: inline; /* Set skills container to inline */
  }

  .skill {
    display: inline; /* Display each skill inline */
    margin-right: 5px;
  }

  ul {
    padding: 0;
    display: inline; /* Makes sure the ul doesn't stack */
  }

  li {
    display: inline; /* Make each skill item inline */
    margin-right: 5px;
  }
}
